body {
  font-size: 16px;
  color: #fff;
  background-color: lightblue;
}

#header-nav {
  background-color: lightblue;
  border-radius: 0;
  border: 0;
}

.container-fluid{
  background-color: lightblue;
}


.nav-item{
  background-color: orangered;
  color:orangered;
  text-align: center;
  border: 1px solid black;
}


#block {

  background-color: lightgreen;
  height: 1000px;
  border: 1px solid black;
  margin-top: 50px;
  margin:50px;
}

.container {
background-image:"cuadrorifa.jpg";
background-repeat: repeat;}
columns:2;
}



@media (min-width:50px) and (max-width:767px){

ul {
column-count: 10;
column-rule: dotted 1px #333; /* Optional: adds a dotted line between columns */
list-style-type: none; /* Optional: removes the default list bullets */
}
}


@media (min-width:767px){

ul {
column-count: 30;
column-rule: dotted 1px #333; /* Optional: adds a dotted line between columns */
list-style-type: none; /* Optional: removes the default list bullets */
}
}